<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row mt-4">
				<div class="col-md-6 offset-md-3">
					<form th:action="@{/do_register}" method="POST"
						class="myform p-3 shadow mb-4" th:object="${userob}">
						<div  th:if="${session.message}" th:classappend="${session.message.type}" class="alert text-center" role="alert">
						<p th:text="${session.message.content}"></p>
						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
						<div class="text-center">
						<img style="max-width: 80px" th:src="@{/img/sign-up.png}" alt="" class="card-img-top" />
						</div>	
						<div class="form-group">
							<div class="text-center">
								<h3>Sign Up</h3>
							</div>
							<label for="exampleInputEmail1">User Name</label> <input
								type="text" class="form-control" id="exampleInputEmail1"
								aria-describedby="emailHelp" name="name"
								th:value="${userob.name}"
								placeholder="Enter username"
								th:classappend="${#fields.hasErrors('name') ? 'is-invalid' :''}"
								>
							<div class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}"></div>

						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Email address</label> <input
								type="text" class="form-control" name="email"
								id="exampleInputPassword1" th:value="${userob.email}"
								placeholder="Enter email"
								th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
								>
						<div class="invalid-feedback" th:each="e:${#fields.errors('email')}" th:text="${e}"></div>		
						</div>
						<div class="form-group">
							<label>Password</label> <input type="password"
								class="form-control" name="password"
								placeholder="enter password">
						</div>

						<div class="form-group">
							<label>Tell us about yourself</label>
							<textarea  name="about" cols="3" th:text="${userob.about}" class="form-control" th:classappend="${#fields.hasErrors('about') ? 'is-invalid' : ''}">
							</textarea>
							
							<div class="invalid-feedback" th:each="e:${#fields.errors('about')}" th:text="${e}">
								
							</div>
						</div>

						<div class="form-group form-check text-center">
							<input type="checkbox" name="agreement" class="form-check-input"
								id="exampleCheck1"> <label
								class="form-check-label" for="exampleCheck1">Accept
								terms and conditions </label>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-primary mr-2">Submit</button>
							<button type="reset" class="btn btn-warning ">Reset</button>
						</div>
					</form>
					<div class="text-center">
					<p>Already have an account? <a th:href="@{/signin}">Login</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>